@model WeddingPlanner.Models.Login
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Login</h1>
<h3>@ViewBag.Message</h3>
    <form  asp-controller = "User" asp-action="LogUser" method='POST'>     
                <label> Email:</label>
                <span asp-validation-for="email"></span>
                <input class="form-control" asp-for="email"/>
                
                <label> Password:</label>
                <span asp-validation-for="password"></span>
                <input class="form-control" asp-for="password"/>
               
                <button class="btn btn-info">Login</button>
        </form>
    <a href="/"> Not a registered user? Register here.</a>

</body>
</html>