<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
 <body>
<h1>SUCCESSFULLY REGISTERED OR LOGGED IN!</h1>
<p>Welcome, @ViewBag.Name</p>
<button class="btn btn-info"> <a href="weddings">Continue to Wedding Planner</a></button>
<button class="btn btn-info"> <a href="logout">Logout</a></button>
</body>
</html>