@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posted Notes</title>
</head>
<body>
    <h1>Notes</h1>
      <form action='postNotes' method='post'>
          Title: <input type='text' name='Title'>
         <p>Description:</p><textarea name='Description'></textarea>
          <input type='submit' value='Add Note!'>
      </form>
      <h1>Existing Notes</h1>
       @foreach(var notes in ViewBag.Notes)
        {
            <h5>@notes["Title"]</h5>
            <p>@notes["Description"] </p>
            <p>@notes["CreatedAt"]</p>
             <a href='edit/@notes["id"]'>Edit</a>
          <a href='delete/@notes["id"]'>Delete</a>
        }
</body>
</html>