@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUOTING DOJO</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
      <form action='quotespost' method='post'>
          Your Name: <input type='text' name='name'>
         <p>Your quote:</p><textarea name='quote'></textarea>
          <input type='submit' value='Add my quote!'>
          <button> <a href="quotes"></a>Skip to quotes!</button>
      </form>
</body>
</html>

