<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <!-- In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Portfolio</h1>
        <div id = "header">
        <div class="navbar">
        <a href="home">Home</a>  |  <a href="projects">Projects</a>  |  <a href="contact">Contact</a>
    </div>
        </div>
        <div id="about">
                    <h2 id="h2">Holly</h2>
                    <p> Hello! I'm an extremely driven and creative Full Stack Developer who is currently open for career opportunities as a front-end or back-end web developer in the Greater Chicago Area.</p>
                    <br>
                    <p>I'm a recent graduate of Coding Dojo, a coding school located in Chicago, IL that teaches 3 full stacks in 3 months. I'm capable of learning new technologies very quickly, and am always looking for opportunities to further expand my skills and grow as a developer.</p>
                    <br>

            <img src="~/images/image.jpg"alt="Sample Image" width="300px" />}
    </div>
            </div>
    </body>
</html>