<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <!-- In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Portfolio</h1>
        <div id = "header">
        <div class="navbar">
        <a href="home">Home</a>  |  <a href="projects">Projects</a>  |  <a href="contact">Contact</a>
    </div>
        </div>
        <div id="about">
                    <h2 id="h2">Python</h2>
                   <p> We learned Python for the first four weeks!</p>

            <img src="~/images/python.gif"alt="Sample Image" width="300px" />}

        <div id="about">
                    <h2 id="h2">C#/.NET</h2>
                   <p> We're currently learning C#/.NET.</p>

            <img src="~/images/c.png"alt="Sample Image" width="300px" />}

        <div id="about">
                    <h2 id="h2">MEAN</h2>
                    <p> We will learn MEAN for the final four weeks!</p>
                    

            <img src="~/images/mean.jpg"alt="Sample Image" width="300px" />}
    </div>
            </div>
    </body>
</html>