@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Don't get lost in the woods! </h1>
<h3>List of Local Hiking Trails</h3>
<table>
    <tr>
        <th>Trail Name</th>
        <th>Trail Length</th>
        <th>Elevation</th>
        <th>Action</th>
    </tr>
    @foreach(var trail in ViewBag.Trails)
    {
        <tr>
            <td><a href="show/@trail.id">@trail.Name</a></td>
            <td>@trail.Length Miles</td>
            <td>@trail.Elevation Feet</td>
            <td><a href="delete/@trail.id">Delete</a></td>
        
        </tr>
    }
</table>
<a href="add"> Add a New Trail</a>
</body>
</html>
